.btn {
    border: 1px solid pink;
    background-color: plum;
    
}

#forecast {
    justify-content: space-around;
}

.history {
    background-color: gainsboro;
}

.day {
    background-color: deepskyblue;
    border: 1px solid cornflowerblue
}

#user-form {
    display: flex;
    justify-content: center;
}

#current-city {
    background-color: cornsilk;
    width: 100%;
    
}
p, h2{
    margin: 1rem;
}

header {
    background-color: gray;
}

div, header{
    border-radius: 5px;
}